@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="h3 text-center text-success">Desarrollo de sistemas web</h1>
    <h2 class="h5 text-center text-muted">Licenciatura en ingeniería de software</h2>
    <p class="display-5 mt-5">Bienvenidos</p>
</div>
