@{
    ViewData["Title"] = "Página protegida para administradores";
}
<h1>@ViewData["Title"]</h1>
<p>Está página requiere autenticación del usuario <strong>con rol Administrador</strong> para poder visualizarse.</p>